// Fuente Open-Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open-Sans', sans-serif;
    font-weight: $fw-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-color;
    font-weight: $fw-regular;
}

p {
    color: $color-light;
}